.git/**
*.dll
*.mmap
*.pyd
*.lib
*.exp
*.obj
*.pyc
*.iml
*.xml
*.idea
*.egg*
*logs/*
tests/logs/*
*.cpp*
*.obj*
*.html*
*.log
*.mdb
*.ldb
*.dat
**/obj/**
**/bin/**
data/**
*.vs
**/.dockerignore
data
tests/
tests_functional/
conduitdb_data_ssd/
conduitdb_data_hdd/
scylla/
mysql/
reference_server/
**/test_lmdb/**
**/raw_blocks/**
**/merkle_trees/**
