.git/**
*.dll

tests
tests_functional
**/test_lmdb/**
**/raw_blocks/**
**/merkle_trees/**

ConduitRaw/bin/Debug/**
ConduitRaw/obj/**
Conduit.API.REST/bin/Debug**
Conduit.API.REST/obj/**
Conduit.MySQL/bin/Debug**
Conduit.MySQL/obj/**

ConduitRaw/.gitignore
ConduitRaw/.project
ConduitRaw/.settings
ConduitRaw/.toolstarget
ConduitRaw/*.dbmdl
ConduitRaw/*.jfm
ConduitRaw/azds.yaml
ConduitRaw/charts
ConduitRaw/node_modules
ConduitRaw/npm-debug.log
ConduitRaw/secrets.dev.yaml
ConduitRaw/values.dev.yaml

*.mmap
*.pyd
*.lib
*.exp
*.obj
*.pyc
*.iml
*.xml
*.idea
*.egg*
*logs/*
tests/logs/*
*.cpp*
*.obj*
*.html*
*.log
*.mdb
*.ldb
*.dat
**/obj/**
**/bin/**
../profile.svg
profile.svg
data/**
*.*proj.user

*.vs
**/.classpath
**/.dockerignore
ConduitRawAPI/.gitignore
ConduitRawAPI/.project
ConduitRawAPI/.settings
ConduitRawAPI/.toolstarget
ConduitRawAPI/.vs
ConduitRawAPI/.vscode
ConduitRawAPI/*.dbmdl
ConduitRawAPI/*.jfm
ConduitRawAPI/azds.yaml
ConduitRawAPI/bin/**
ConduitRawAPI/obj/**
ConduitRawAPI/charts
ConduitRawAPI/node_modules
ConduitRawAPI/npm-debug.log
ConduitRawAPI/secrets.dev.yaml
ConduitRawAPI/values.dev.yaml
LICENSE
Conduit.sln.DotSettings.user

data
/tests/
/tests_functional
*/conduitdb_data_ssd/*
*/conduitdb_data_hdd/*
conduit_index_data_ssd/
conduit_index_data_hdd/
conduit_raw_data_ssd/
conduit_raw_data_hdd/
scylla_data/
