*.dll
ConduitRaw/bin/Debug/**
ConduitRaw/obj/**
Conduit.API.REST/bin/Debug**
Conduit.API.REST/obj/**
Conduit.MySQL/bin/Debug**
Conduit.MySQL/obj/**

ConduitRaw/.gitignore
ConduitRaw/.project
ConduitRaw/.settings
ConduitRaw/.toolstarget
ConduitRaw/*.dbmdl
ConduitRaw/*.jfm
ConduitRaw/azds.yaml
ConduitRaw/charts
ConduitRaw/node_modules
ConduitRaw/npm-debug.log
ConduitRaw/secrets.dev.yaml
ConduitRaw/values.dev.yaml

*.lock
*.mmap
*.pyd
*.lib
*.exp
*.obj
*.pyc
*.iml
*.xml
*.idea
*.egg*
*logs/*
tests/logs/*
*.cpp*
*.obj*
#*.html*
stack_tracing*
*.log
*.mdb
*.ldb
*.dat
**/obj/**
**/bin/**
../profile.svg
profile.svg
data/**
*.*proj.user

*.vs
**/.classpath
**/.dockerignore
**/.env
LICENSE
Conduit.sln.DotSettings.user
temp_files/*
*metrics.csv
contrib/bench_and_experiments/cy_txparser/pushdata_hashes
*memory_usage_stats*
