*.dll
*.lock
*.mmap
*.pyd
*.lib
*.exp
*.obj
*.pyc
*.iml
*.xml
*.idea
*.egg*
*logs/*
tests/logs/*
*.cpp*
*.obj*
#*.html*
stack_tracing*
*.log
*.mdb
*.ldb
*.dat
**/obj/**
**/bin/**
../profile.svg
profile.svg
*.*proj.user
*.vs
**/.classpath
**/.dockerignore
**/.env
temp_files/*
*metrics.csv
contrib/bench_and_experiments/cy_txparser/pushdata_hashes
*memory_usage_stats*
block593161.hex
block593161.offsets
*.csv
/.coverage*
/tests/data/
conduit_index_data_ssd/
conduit_index_data_hdd/
conduit_raw_data_ssd/
conduit_raw_data_hdd/
scylla/
mysql/
reference_server/
.env.docker.production
contrib/functional_test_datadirs/