# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 0. "/etc/mysql/my.cnf" symlinks to this file, reason why all the rest is read.
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# If you are new to MariaDB, check out https://mariadb.com/kb/en/basic-mariadb-articles/

#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]
# Port or socket location where to connect
port = 3306
socket = /run/mysqld/mysqld.sock

[mysqld]
default-storage-engine=rocksdb
plugin_load_add = ha_rocksdb
local_infile=1
character-set-server=utf8
# See: https://github.com/facebook/rocksdb/wiki/Universal-Compaction for tuning details
rocksdb_default_cf_options=compaction_style=kCompactionStyleUniversal;write_buffer_size=512m;level0_file_num_compaction_trigger=4;level0_slowdown_writes_trigger=10;level0_stop_writes_trigger=15;max_write_buffer_number=5;num_levels=10;target_file_size_base=128m;compression_per_level=kNoCompression:kNoCompression:kNoCompression:kZlibCompression:kZlibCompression:kZlibCompression:kZlibCompression;compression_opts=-14:1:0;block_based_table_factory={cache_index_and_filter_blocks=1;filter_policy=bloomfilter:10:false;whole_key_filtering=0};prefix_extractor=capped:20;level_compaction_dynamic_level_bytes=true;optimize_filters_for_hits=true;memtable_prefix_bloom_bits=41943040;memtable_prefix_bloom_probes=6

# I believe this is on by default: https://newbedev.com/mariadb/myrocks-system-variables/index
rocksdb_hash_index_allow_collision=1

rocksdb_max_open_files=-1
#rocksdb_max_background_compactions=16
rocksdb_max_total_wal_size=8G
#rocksdb_max_background_flushes=4
rocksdb_block_size=16384
rocksdb_block_cache_size=8G
rocksdb_table_cache_numshardbits=6

default-storage-engine=rocksdb


innodb_data_file_path=ibdata1:512M:autoextend


#
# * Basic Settings
#
#user           = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc_messages_dir = /usr/share/mysql
lc_messages     = en_US
skip-external-locking
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
#bind-address           = 127.0.0.1
#
# * Fine Tuning
#
max_connections         = 100
connect_timeout         = 120
wait_timeout            = 28800
max_allowed_packet      = 1024M
net_buffer_length       = 1048576
#thread_cache_size       = 128
sort_buffer_size        = 256M
bulk_insert_buffer_size = 256M

# This should equate to CHIP_AWAY_BYTE_SIZE_LIMIT / WORKER_COUNT_TX_PARSERS
# In this case, 4GB / 8 workers = 512MB each but we will set 1GB in case
# I change the numbers and forget to update it here
max_heap_table_size=1G
tmp_table_size=512M

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/
