[Unit]
Description=Conduit Raw
After=network.target

[Service]
User=conduitdb
Group=conduitdb
EnvironmentFile=-/etc/conduit-index.conf
Type=simple
ExecStart=python3 /home/conduitdb/conduit-db/conduit_index/conduit_server.py --mainnet --node-host=127.0.0.1:8333 --mysql-host=127.0.0.1:3306
Restart=no

[Install]
WantedBy=multi-user.target
